<%= will_paginate @tweets %>

<% last_post_date = nil %>
<% @tweets.each do |tweet| %>
    <div class="msg">
      <div class="datetime">
        <p class="date"><%= (tweet.post_date == last_post_date) ? '' : tweet.post_date %></p>
        <p class="time"><%= tweet.post_time %></p>
      </div>
      <div class="srcTag">&nbsp;</div>
      <div class="content">
        <span class="from"><%= tweet.user_name.html_safe %></span><br />
        <%= tweet.text.html_safe %>
      </div>
    </div>
    <% last_post_date = tweet.post_date %>
<% end %>

<%= will_paginate @tweets %>
