<!DOCTYPE html>
<html>
<head>
  <title>TweetsRails</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body class="tweets">
  <div class="outBox">
    <div class="menu">
      <a class='header' href='#'>&nbsp;</a>
      <ul>
        <li><%= link_to raw('我的推<span>My Tweets</span>'), 
              { :controller => "tweets", :action => "index" }, 
              :class => (controller_name == 'tweets') ? 'selected' : nil %>
        </li>
        <li><%= link_to raw('收藏的推<span>Favorites</span>'), 
              { :controller => "favorites", :action => "index" },
              :class => (controller_name == 'favorites') ? 'selected' : nil %>
        </li>
      </ul>
    </div>

<%= yield %>

  </div>
</body>
</html>
